@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
html{
    font-family: 'Barlow', sans-serif;
}
body {
  margin:0px;
  font-family: 'Barlow', sans-serif;
  background-image: url("images/trees_bg.jpg");
  background-size: 100%;
  background-attachment: fixed;
}
p{
font-family: 'Barlow', sans-serif;
}

img{
  width: 100%
}
li{
  font-family: 'Barlow', sans-serif;
}
.logo {
  display: block;
  text-align: center;
  padding: 70px;
}

.anchor{
  position:relative;
  top: -75px;
}

.header{
  font-family: 'Barlow', sans-serif;
  z-index:1;
  background-color: #4E7235;
  width:100%;
  position: sticky;
  top:0px;
}
.header h1{
  color: white;
  margin:0px;
  padding:10px;
  font-size: 1.25em;
}
.header img {
  width: 30%;
  height: auto;
  display: block;
  margin: auto;
}
.topnav {
  font-family: 'Barlow', sans-serif;
  overflow: hidden;
  background-color: #4E7235;
  width: 100%;
  display:grid;
  position: sticky;
  top: 0px;
}

.topnav a {
  font-family: 'Barlow', sans-serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  height:auto;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #81AB45;
}

.topnav .icon {
  display: none;
}

.gallery{
  display: grid;
  grid-gap: 10px;
  margin: auto;
  padding:20px;
}
.gallery_img{
  width:100%;
  border:1px solid black;
}

.zoom_view{
  display:none;
  width:100%;
  margin:auto;
  position: fixed;
  top:100px;
  z-index: 5;
  background-color: rgba(0,0,0,0.7);
}

.grid{
  display:grid;
}

.zoom_img{
  grid-column: 3/5;
  width:100%;
  padding: 20px 0;
}

.left_arrow{
  grid-column: 2/3;
  width:50%;
  margin: auto;
  padding:30px;
}
.right_arrow{
  grid-column: 5/6;
  width:50%;
  margin: auto;
  padding:30px;
}
.close{
  position: absolute;
  top:0;
  right: 0;
  width:50px;
  padding:10px;
}
.row {
    display: grid;
    grid-template-columns: auto auto;
  }

@media screen and (max-width: 600px) {
  .row {
      grid-template-columns: auto ;
    }
    .flip-box{
    width: 100% !important;
    margin:0px !important;
    margin-bottom: 50px !important;
  margin-right: 20px !important;
    }
  .header{
    height:50px;
  }
  .topnav{
    width: 60%;
    grid-template-columns: auto 60px;
    position:absolute;
    right:0px;
  }
  .topnav a{
    text-align: right;
  }
  .topnav a:not(.active) {
    display: none;
  }
  .topnav a.icon {
    display:block;
    padding:13px 10px 10px 10px;
    margin:0px;
    position: absolute;
    right:15px;
  }
  .topnav.responsive {
    grid-template-columns: auto;
    opacity:.8;
  }
  .topnav.responsive.icon {
    position: absolute;
    right: 15px;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    text-align: right;
  }
  .responsive .link{
    margin-right: 60px;
  }
  .gallery{
    grid-template-columns: 50% 50%;
  }
  .zoom_view{
    grid-template-columns: 20% 30% 30% 20%;
  }
  .zoom_img{
    grid-column: 2/4;
  }
  .left_arrow{
    grid-column: 1/2;
  }
  .right_arrow{
    grid-column: 4/5;
  }
  .close{
    grid-column: 4/5;
  }
}

@media screen and (min-width: 601px) {

  .topnav{
    grid-template-columns: 20% 20% 20% 20% 20%;
    }
  .topnav a{
        margin: 5px 0;
    }
  .topnav a:not(:first-child){
      border-left: 1px solid white;
    }
  .topnav a.icon {
    display:none;
  }
  .gallery{
    grid-template-columns: 25% 25% 25% 25%;
  }
}

.content{
  width: auto;
  background-color: white;
  padding:50px;
  margin:20px 20px;
}

video{
  position: relative;
  display:block;
  padding: 25px;
  width:90%;
  margin:auto;
}

footer{
  color: white;
  background-color: black;
  display:grid;
  grid-template-columns: auto;
  text-align: center;
}

.navlinks{
  text-align: left;
}

.footer_item{
  margin:auto;
  padding:10px;
  width: 75%;
}

.collapsible {
  background-color: #666666;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: 1px solid black;
}

.collapsible p{
  float:right;
  font-size: 1.1em;
  margin:0;
}

.dropdown {
  padding: 20px;
  display: none;
  overflow: hidden;
  border: 1px solid black;
  background-color: #888888;
}

.dropdown a{
  display: block;
}

.navlinks_item a{
  color:white;
}
.flip-box {
  background-color: transparent;
  display: grid;
  grid-template-columns: auto;
  width: 500px;
  height: 200px;
  border: none;
  perspective: 1000px;
  margin: 50px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 20px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #bbb;
  color: white;
  transform: rotateY(180deg);
}

.center {
  height: 200px;
  position: relative;
  border: none;
}

.center p {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 20%;
  -ms-transform: translate(-10%, -10%);
  transform: translate(-10%, -10%);
}

.row {
  display: grid;
  grid-template-columns: auto auto;
}

@media screen and (max-width: 601px){
  footer{
      text-align: left;
      grid-template-columns: 50% auto;
  }
  .row {
    grid-template-columns: auto;
  }
  button{
    display:block;
  }
  .dropdown{
    display: block;
    background-color: inherit;
  }
  .dropdown a{
    color:white;
    display:block;
  }
  .right{
    grid-column: 2/3;
  }
  .left{
    grid-column: 1/2;
  }
  .navlinks{
    grid-row: 1 / 5;
  }
  .collapsible{
    padding: 5px;
    background-color: inherit;
    color: white;
    border: none;
    font-weight: bold;
  }
  .collapsible a{
    color: white;
  }
  .collapsible p{
    display:none;
  }
  video{
    width:66%;
  }
}
