body {
  margin:0px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("images/pexels-photo-2254030.jpeg");
  background-size: 100%;
  background-attachment: fixed;
}

img{
  width: 100%
}

.anchor{
  position:relative;
  top: -75px;
}

.header{
  z-index:1;
  background-color: #4E7235;
  width:100%;
  position: sticky;
  top:0px;
}
.header h1{
  color: white;
  margin:0px;
  padding:10px;
  font-size: 1.25em;
}

.topnav {
  overflow: hidden;
  background-color: #4E7235;
  width: 100%;
  display:grid;
  position: sticky;
  top: 0px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  height:auto;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #81AB45;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .header{
    height:50px;
  }
  .topnav{
    width: 60%;
    grid-template-columns: auto 60px;
    position:absolute;
    right:0px;
  }
  .topnav a{
    text-align: right;
  }
  .topnav a:not(.active) {
    display: none;
  }
  .topnav a.icon {
    display:block;
    padding:13px 10px 10px 10px;
    margin:0px;
    position: absolute;
    right:15px;
  }
  .topnav.responsive {
    grid-template-columns: auto;
    opacity:.8;
  }
  .topnav.responsive.icon {
    position: absolute;
    right: 15px;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    text-align: right;
  }
  .responsive .link{
    margin-right: 60px;
  }
}

@media screen and (min-width: 601px) {
  .header{
    margin-top: 400px;
  }
  .topnav{
    grid-template-columns: 20% 20% 20% 20% 20%;
    }
  .topnav a{
        margin: 5px 0;
    }
  .topnav a:not(:first-child){
      border-left: 1px solid white;
    }
  .topnav a.icon {
    display:none;
  }
}

.content{
  width: auto;
  background-color: white;
  padding:50px;
  margin:0px 20px;
}

video{
  position: relative;
  display:block;
  padding: 25px;
  width:90%;
  margin:auto;
}

footer{
  color: white;
  background-color: black;
  display:grid;
  grid-template-columns: auto;
  text-align: center;
}

.navlinks{
  text-align: left;
}

.footer_item{
  margin:auto;
  padding:10px;
  width: 75%;
}

.collapsible {
  background-color: #666666;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: 1px solid black;
}

.collapsible p{
  float:right;
  font-size: 1.1em;
  margin:0;
}

.dropdown {
  padding: 20px;
  display: none;
  overflow: hidden;
  border: 1px solid black;
  background-color: #888888;
}

.dropdown a{
  display: block;
}

.navlinks_item a{
  color:white;
}


@media screen and (min-width: 601px){
  footer{
      text-align: left;
      grid-template-columns: 50% auto;
  }
  button{
    display:block;
  }
  .dropdown{
    display: block;
    background-color: inherit;
  }
  .dropdown a{
    color:white;
    display:block;
  }
  .right{
    grid-column: 2/3;
  }
  .left{
    grid-column: 1/2;
  }
  .navlinks{
    grid-row: 1 / 5;
  }
  .collapsible{
    padding: 5px;
    background-color: inherit;
    color: white;
    border: none;
    font-weight: bold;
  }
  .collapsible a{
    color: white;
  }
  .collapsible p{
    display:none;
  }
  video{
    width:66%;
  }
}
